@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--light-blue);
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-container {
    width: 50rem;
    background-color: var(--white);
    padding: 5rem 3rem;
    border-radius: 5px;
}

input {
    width: 65%;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--color-sec);
    padding: 1rem 5px;
    font-size: 1.6rem;
}

#checkButton {
    width: 25%;
    padding: 1rem 5px;
    border: none;
    outline: none;
    margin: 1rem;
    background: var(--color-primary);
    color: var(--white);
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 6px #999;
}

#checkButton:hover {
    background-color: var(--color-sec);
    color: var(--color-primary);
    font-weight: 700;
}

#checkButton:active {
    background-color: var(--color-sec);
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }

#results {
    font-size: 1.6em;
    margin-top: 3.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark-grey)
}

h1 {
    text-align: center;
    margin: 1.5rem;
    font-size: 3rem;

}